<h1> Show User </h1>

<ul>
	<p> <li><%= @user.first_name %></li> 
		<li><%= @user.last_name %></li> 
		<li><%= @user.phone %></li> 
		<li><%= @user.email %></li> 
	</p>
</ul>

 <%= link_to "Edit", edit_user_path(@user) %> | <%= link_to "Delete", @user, method: :delete, data: {confirm: "Are you sure you want to delete your profile?"}  %>