<h1> New (creating reservation)</h1>

<%= form_for [@model, @reservation] do |f| %>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.number_field :time %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :party_size %><br />
    <%= f.number_field :party_size %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>