<h1> Show Restaurant </h1>

<ul>
	<p> <li><%= @restaurant.name %></li> 
		<li><%= @restaurant.address %></li> 
		<li><%= @restaurant.phone %></li> 
		<li><%= @restaurant.summary %></li> 
		<li><%= @restaurant.capacity %></li>
	</p>
</ul>

<%= link_to "Back to Restaurants", restaurants_url %> 

<%= render partial: 'new_reservation_form', locals: {owner: @restaurant, reservation: @reservation} %>

